ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  color: black;
  font-size: 1.5em;
  line-height: 1.5;
}

#Highscores {
  border: none;
  background-color: whitesmoke;
}
